# Keil / C51
Objects/
Listings/
*.obj
*.lst
*.crf
*.lnp
*.map
*.m51
*.plg
*.htm
*.bak
*.dep
*.uvguix.*
*.uvgui.*
*.uvopt
JLinkLog.txt

# Build output
*.hex
*.bin
*.elf

# IDE
*.uvw
*.uvproj.*.user
*.uvopt.*
.Debug/
.debug/

# OS
Thumbs.db
.DS_Store
